<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access denied</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>

    </style>
</head>
<body style="background-color: #929090">

<div class="card mx-auto" style="width: 30rem; height: 30rem;  margin-top: 9%; border: 0px; background-color: #929090">
    <img src="https://www.pngkey.com/png/full/615-6157958_x-mark-png.png"
         class="card-img" style="background-size: cover; height: 30rem;" alt="...">
    <p style="color: white; text-align: center; font-size: 3rem;"><b>Access Denied</b></p><br>
    <p style="color: white; text-align: center; font-size: 20px;"><b>
        *If you have any issues with authentication, please contact to Valor760(Cтас)
        in Discord, maybe you aren't in DataBase!</b></p>
</div>

</body>
</html>